{% macro render_errors(field) %}
{% if field.errors %}
<ul>
	{% for error in field.errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro render_textfield(field) %}
<div class="mui-textfield mui-textfield--float-label">
	{{ field(**kwargs)|safe }} {{ field.label }}
	{{ render_errors(field) }}
</div>
{% endmacro %}

{% macro render_checkbox(field) %}
<div class="mui-checkbox">
	<label>
		{{ field(**kwargs)|safe }}
		{{ field.label.text }}	
	</label>
	{{ render_errors(field) }}
</div>
{% endmacro %}

{% macro render_submit(text) %}
<button class="mui-btn mui-btn--primary" type="submit">{{ text }}</button>
{% endmacro %}

{% macro render_field(field) %}
{{ field(**kwargs)|safe }}
{% endmacro %}
